{% extends '::admin_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
<h1>Sistema para la adminitración de Turnos</h1>
{% endblock %}