    {% extends 'admin_base.html.twig' %}

    {% set __title = 'User' %}

    {% block content %}
    <div class="box box-success">
        <div class="box-body">
            <div class="row">
                <div class="col-md-9">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                    <td>{{ user.id }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="box-footer">
                        <a class="btn btn-success" href="{{ path('usuario_edit', { 'id': user.id }) }}"> Editar</a>
                        <a class="btn btn-default" href="{{ path('usuario_index') }}"> Volver al Listado</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% endblock %}
