{% extends 'print_base_html.twig' %}

{% set __title = 'Dirección General de Cultura y Educación' %}
{% set __descripcion_opcional = sede  %}
{% set __impresion  = fechaImpresion  %}

{% block content %}

<div class="col-xs-12">
    <div class="row">
        <p class="lead text-center">Usted será atendido en repeción con el número</p>
    </div>
    <div class="row">
        <p class="text-center" style="font-size: 80px;">{{ turno.turno }}</p>
    </div>
    <div class="row">
        <p class="text-center" style="font-size: 20px;">{{ turno.tipoTramite }}</p>
    </div>
    <br>
    <div class="row">
        <p class="lead text-center">Por favor, recuerde de llevar todos los documentos solicitados</p>
    </div>
</div>


{% endblock %}
