{% extends "::base.html.twig" %}

{% block stylesheets %}
  {{ parent() }}

  <style type="text/css">

  .dropdown .btn-text {
    width: 234px !important;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

      var OpcionesGenerales = window.components.getComponent('OpcionesGenerales');
      
      var opcionesGenerales = {{ opciones | raw }}

      ReactDOM.render(
        React.createElement(OpcionesGenerales,{ opciones: opcionesGenerales}),
        document.getElementById('opciones-container')
      );

    </script>

{% endblock %}

{% block body %}

    <!-- { {dump(opcionesGenerales)}} -->

    <div class="container-fluid">
        <!-- <div class="row">
          <div class="col-md-12">
            <label for="tipo-de-tramite">Solicitud de Turno</label>
            <h4>Solicitud de Turno</h4>
          </div>
        </div> -->
        <div class="row">
          <div class="container">
            <div id='opciones-container' class="col-sm-12 text-center"></div>
          </div>
        </div>
    </div>
{% endblock %}
